.gauge-container {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}

.gauge-value {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
