.heatmap-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-around;
  position: relative;
}

.heatmap-section {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  background-color: #f9f9f9;
  width: fit-content;
}

.heatmap-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 5px;
  min-height: 100px;
  justify-content: start;
  position: relative;
  overflow: hidden; /* Prevent scroll */
}

.heatmap-cell {
  width: 50px;
  height: 50px;
  margin: 1px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.heatmap-cell:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.tooltip {
  position: absolute;
  background-color: rgba(15, 8, 8, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.10s ease;
  white-space: nowrap;
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  top: 10%; /* Arrow pointing down */
  left: 50%;
  transform: translateX(-50%);
}

/* Legend Styling */
.legend {
  position: fixed;
  bottom: 5px;
  right: 25px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 120px;
  width: 180px;
}

.legend h4 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 2px 0;
  font-size: 12px;
  font-weight: bold;
}

.legend-color {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .heatmap-cell {
    width: 40px;
    height: 40px;
  }

  .tooltip {
    font-size: 10px;
  }

  .legend {
    bottom: 5px;
    right: 5px;
    padding: 8px;
  }
}
