.kip-card {
  background-color: #e2e9f3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 170px;
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  background-image: url("../assets/kpi_bg.png");
  background-size: cover; /* Ensures the background image covers the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
}
 
.kip-card h3 {
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  font-family: "Aptos Display", sans-serif;
}
 
.kip-card p {
  font-size: 14px;
  color: white;
  font-family: "Aptos Display", sans-serif;
}