/* ================================
   Root Variables
================================= */
:root {
  --primary-bg: #f4f4f4;
  --primary-color: #1f77b4;
  --hover-color: #555;
  --font-base: Arial;
  --font-size-base: clamp(0.75rem, 0.9vw, 1rem); 
  --table-hover: #e0f7ff;
}

/* ================================
   General Styles
================================= */
html, body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: clamp(12px, 1.2vw, 16px);
}

.dashboard-container {
  padding: 10px 20px 20px 20px; 
  margin-top: -20px;
  background-color: var(--primary-bg);
  font-family: var(--font-base);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh; 
  overflow: hidden;
  font-size: 0.85rem;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
}

.dashboard-title {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: bolder;
  margin: 0;
}

.last-updated {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  color: #555;
  font-weight: bold;
  text-align: right;
  margin-left: 20px;
}

/* ================================
   Equipment Status Table
================================= */
.equipment-status table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-base);
}

.equipment-status th, .equipment-status td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
}

.equipment-status {
  background: white;
  padding: 10px;
  border-radius: 5px;
  font-size: var(--font-size-base);
  overflow-x: auto;
}

.equipment-status,
.wms-data,
.chart {
  padding: 8px;
  font-size: var(--font-size-base);
}

/* ================================
   Gauge & Chart Layouts
================================= */
.gauge-container {
  display: flex;
  flex-wrap:  nowrap;
  justify-content: space-evenly;
  margin-bottom: 1px;
  gap: 10px;
  height: 130px;
  overflow-x: auto;
}

.gauge-container > div {  
  flex: 1 1 18%;
  min-width: 160px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.gauge-wrapper {
  position: relative;
  width: 120px;
  height: 100px;
}

.gauge-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 7px;
  font-size: var(--font-size-base);
  height: 180px;
  padding-bottom: 6px;
  margin-top: 1px;
}

.chart {
  flex: 1 1 15%;
  background: white;
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  min-width: 300px;   
}

.bar-chart-container {
  padding: 1px 0;
}

.bar-chart {
  width: 100%;
  height: 130px;
}

.generation-total {
  margin-bottom: 5px;
  font-size: 0.9rem;
}


.line-chart-wrapper {
  height: 220px; /* default */
}
/* ================================
   Equipment & WMS Section
================================= */
.equipment-wms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
  height: 220px;
  font-size: var(--font-size-base);
  padding-top: 4px;
}

.equipment-status, .wms-data {
  flex: 1 1 48%;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  overflow-x: auto;
  min-width: 300px;
}

/* Tables */
.equipment-status table, .wms-data table {
  width: 100%;
  border-collapse: collapse;
}

.equipment-status th, .wms-data th {
  background: var(--primary-bg);
  border: 1px solid #ddd;
  padding: 5px;
}

.equipment-status td, .wms-data td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.wms-data table td:first-child,
.wms-data table td:nth-child(3),
.wms-data table th:first-child,
.wms-data table th:nth-child(3),
.equipment-status table td:first-child,
.equipment-status table th:first-child {
  text-align: left;
}

.wms-data td:nth-child(2),
.wms-data td:nth-child(4),
.wms-data th:nth-child(2),
.wms-data th:nth-child(4),
.equipment-status th:nth-child(2),
.equipment-status th:nth-child(3),
.equipment-status td:nth-child(2),
.equipment-status td:nth-child(3) {
  text-align: center;
}

.wms-data td:nth-child(2),
.wms-data td:nth-child(4),
.wms-data th:nth-child(2),
.wms-data th:nth-child(4),
.wms-data th:nth-child(6),
.wms-data td:nth-child(6){
  text-align: left;
}


.equipment-status tr:hover,
.wms-data tr:hover {
  background-color: var(--table-hover);
}

.center-align {
  text-align: center;
}

/* ================================
   Popup & Buttons
================================= */
.popup-content {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.equipment-status-header, .chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 10px;
}

.open-popup-btn, .chart-controls button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.open-popup-btn:hover, .chart-controls button:hover {
  background-color: var(--hover-color);
}

.component-title{
  font-size: 14px;
}

button:focus {
  outline: 1px solid var(--primary-color);
}

.chart-controls {
  display: flex;
  align-items: center;
}

.chart-controls input {
  padding: 5px;
  font-size: 8px;
}

/* ================================
   KIP Cards Grid
================================= */
.kip-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  
}

/* ================================
   Responsive Media Queries
================================= */
@media (min-width: 1024px) and (max-width: 1279px) {
  .dashboard-container {
    padding: 14px 16px;
  }

  .gauge-container {
    height: 110px;
    margin-bottom: 2px;
  }

  .gauge-container > div {
    max-width: 180px;
  }

  .gauge-wrapper {
    position: relative;
    width: 95px;
    height: 80px;
  }

  .gauge-center-text {
    font-size: 11px;
    left: 52%;

  }

  .charts-container {
    height: 140px;
    padding-bottom: 2px;
  }

  .chart {
    flex: 1 1 48%;
    max-height: 9rem;
    font-size: 9px;
    padding-top: 2px;
  }

  .bar-chart-container {
    padding: 2px 0;
  }

  .generation-total {
    font-size: 0.6rem;
    margin-bottom: 2px;
  }

  .chart-header {
    padding-top: 2px;
    margin-bottom: 1px;
    font-size: 9px;
  }

  .chart-controls input {
    padding-bottom: 1px;
    font-size: 7px;
  }

  .equipment-wms-container {
    padding-bottom: 2px;
    height: 160px;
  }

  .equipment-status,
  .wms-data {
    min-width: 280px;
    height: 160px;
    padding-top: 0px;
    margin-bottom: 2px;
  }

  .equipment-status td,
  .wms-data td {
    padding: 2px;
  }

  .component-title {
    font-size: 9px;
  }

  .line-chart-wrapper {
    height: 140px;
    padding-left: 2px;
    font-size: 10px;
  }

  .open-popup-btn {
    padding-top: 4px;
  }
}



@media (min-width: 1280px) and (max-width: 1439px) {
  .dashboard-container {
    padding: 10px 20px;
  }

  .gauge-container {
    height: 120px;
    margin-bottom: 1px;
  }

  .gauge-container > div {
    max-width: 200px;
  }

  .gauge-wrapper {
    position: relative;
    width: 100px;
    height: 85px;
  }
  
  .gauge-center-text {
    font-size: 12px;
  }

  .charts-container {
    height: 160px;
    padding-bottom: 1px;
  }

  .chart {
    flex: 1 1 10%;
    max-height: 10rem;
    font-size: 10px;
    padding-top: 1px;
  }

  .bar-chart-container {
    padding: 1px 0;
  }
  
  .generation-total {
    margin-bottom: .5px;
    font-size: 0.5rem;
  } 
  
  .chart-header {
    padding-top: .5px;
    margin-bottom: 1px;
    font-size: 8px;
  }

  .chart-controls input {
    padding-bottom: 1px;
    font-size: 6px;
  }
  
  .equipment-wms-container {
    padding-bottom: 1px;
    height: 180px;
  }

  .equipment-status, .wms-data {
    min-width: 300px;
    height: 170px;
    padding-top: 0px;
    margin-bottom: 2px;
  }

  .equipment-status td, .wms-data td {
    padding: 2px;
  }

  .component-title {
    font-size: 10px;
  }

  .line-chart-wrapper {
    height: 160px; /* default */
  }

}


@media (min-width: 1440px) and (max-width: 1600px) {
  .dashboard-container {
    padding: 15px 30px;
  }

  .gauge-wrapper {
    position: relative;
    width: 100px;
    height: 120px;
  }
  
  .gauge-center-text {
    font-size: 14px;
    left: 60%;
  }

  .gauge-container {
    height: 140px;
  }

  .gauge-container > div {
    flex: 1 1 20%;
    min-width: 180px;
    max-width: 250px;
  }


  .chart {
    flex: 1 1 45%;
    max-height: 14rem;
  }
  
  .bar-chart {
    height: 160px;
    padding-bottom: 1px;
  }
  
  .equipment-wms-container {
    padding-top: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .equipment-status,
  .wms-data {
    flex: 1 1 48%;
  }


  .dashboard-title {
    font-size: clamp(1.75rem, 2vw, 2.75rem);
  }

  .component-title {
    font-size: 15px;
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .dashboard-container {
    padding: 20px 40px;
  }

  .gauge-container {
    height: 140px;
  }

  .gauge-container > div {
    flex: 1 1 18%;
    max-width: 260px;
    padding-bottom:8px;
  }

  .charts-container {
    height: 200px;
    gap: 8px;
    width: 100%;
    margin-bottom: 6rem;
  }

  .chart {
    flex: 1 1 48%;
    font-size: 20px;
    height: 280px;
   
  }

  .chart-header {
    font-size: 16px;
    padding: 5px;
  }

  .chart-controls input {
    height: 25px;
    font-size: 15px;
  }

  .chart-header
  .component-title {
    font-size: 24px;
  }

  .bar-chart-container {
    padding: 4px 0;
  }
  
  .generation-total {
    margin-bottom: .5px;
    font-size: 1.2rem;
  } 

  .bar-chart {
    height: 180px;
    padding-bottom: 1px;
  }
  .equipment-wms-container {
    padding-top: 2px;
    margin-bottom: 6px;
    height: 250px;
  }

  .equipment-status td, .wms-data td {
    padding: 6px;
  }
  .component-title {
    font-size: 16px;
  }

  .open-popup-btn {
    font-size: 16px;
  }

  .line-chart-wrapper {
    height: 260px; /* default */
    padding-left: 4px;
    font-size: 14px;
  }

}

@media (min-width: 1921px) {
  .dashboard-container {
    padding: 25px 50px;
  }

  .gauge-container {
    height: 160px;
  }

  .gauge-container > div {
    flex: 1 1 16%;
    max-width: 280px;
    padding-bottom: 10px;
  }

  .charts-container {
    height: 240px;
    gap: 12px;
    margin-bottom: 6rem;
    width: 100%;
  }

  .chart {
    flex: 1 1 48%;
    font-size: 22px;
    height: 320px;
  }

  .chart-header {
    font-size: 18px;
    padding: 8px;
  }

  .chart-controls input {
    height: 28px;
    font-size: 16px;
  }

  .chart-header .component-title {
    font-size: 26px;
  }

  .bar-chart-container {
    padding: 6px 0;
  }

  .generation-total {
    font-size: 1.3rem;
    margin-bottom: 2px;
  }

  .bar-chart {
    height: 220px;
    padding-bottom: 2px;
  }

  .equipment-wms-container {
    padding-top: 4px;
    margin-bottom: 10px;
    height: 270px;
  }

  .equipment-status td,
  .wms-data td {
    padding: 8px;
  }

  .component-title {
    font-size: 18px;
  }

  .open-popup-btn {
    font-size: 17px;
  }

  .line-chart-wrapper {
    height: 300px;
    padding-left: 6px;
    font-size: 15px;
  }
}



