/* Main Container */
.wms-container {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title */
.wms-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

/* Flex Layout */
.wms-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Table Styling */
.wms-table {
  width: 60%;
  border-collapse: collapse;
  background-color: #fff;
}

.wms-table th,
.wms-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.wms-table th {
  background-color: #222;
  color: white;
}

.wms-table td:first-child {
  text-align: left;
  font-weight: bold;
}

/* Status Indicator */
.status-cell {
  text-align: center;
}

.status-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.status-green {
  background-color: green;
}

.status-red {
  background-color: red;
}

/* Chart Styling */
.chart-container {
  width: 38%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recharts-responsive-container {
  width: 100% !important;
  height: 100% !important;
}
.param-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px; /* Adds spacing between param-selection and chart */
}

.param-selection label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .wms-content {
    flex-direction: column;
    align-items: center;
  }

  .wms-table {
    width: 100%;
  }

  .chart-container {
    width: 100%;
    height: 400px;
  }
}
